@import "bootstrap.css";
@import "../src/flexbox.css";

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
}

ul {
    list-style: inside;
}

h1 {
    margin-top: 0;
}

p {
    margin: 0;
}

.code {
    white-space: pre-wrap;
}

.link-href:after {
    content: attr(href);
}